<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<services>
			<configurator type="ProductSearch.Platform.ServicesConfigurator, MyProject" />
		</services>

		<pipelines>
			<initialize>
				<processor type="ProductSearch.Platform.Pipelines.RegisterWebApiRoutes, MyProject"
						   patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']" resolve="true"/>
			</initialize>
		</pipelines>
	</sitecore>
</configuration>